/* sweetalert button color */

.swal2-styled.swal2-confirm {
    background-color: #0d6efd !important;
}


/* layout.html */

nav.navbar
{
    position: fixed !important;
    top:0%;
    width: 100%;
    z-index: 1;
}

/* index.html */

@media (max-height: 621px ) {

    div.image-container {
        display: none;
    }


}


div.user-controls button a {
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
}

div.user-controls button:last-of-type {
    margin-right:20px;
}

div.home-container {
    position: absolute;
    max-width: 70%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Ubuntu', sans-serif;
}

section.intro-container {
    max-width: 1200px;
    margin: 0px auto;
}


section.intro-container div.text-container .container-col{
    position: relative;
    top:50%;
    transform: translate(0%,-50%);
    -webkit-transform: translate(0%,-50%);
    -moz-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    -o-transform: translate(0%,-50%);
}

section.shorten-form-container, section.shorten-result-container {
    max-width: 1200px;
    margin: 0px auto;
}
section.shorten-form-container input , section.shorten-form-container button {
    padding: 15px;
}

section.shorten-result-container {
    display: none;
}

div.image-container img {
    width: 100%;
    display: block;
    margin: 0px auto;
    /* max-width: 500px; */
    max-height: 500px;
}

.container {
    padding: 100px 0;
}


div.home-container form {
    max-width: 1000px;
    margin: 0px auto;
}

div.home-container form input.url {
    padding: 15px;
}

div.home-container div.select-container{
    padding-left: 0px !important;
}

div.home-container div.submit-container {
    padding: 0px !important;
}

div.home-container div.submit-container input {
    width: 100%;
}

footer {
    color: #fff;
    position: fixed;
    bottom:0px;
    width: 100%;
}

footer span {
    font-weight: bold;
}



/* register.html */


div.register-image-container, .login-image-container {
    max-width: 80%;
    max-height: 600px;
    margin: 0px auto;
    overflow: hidden;
}

div.register-image-container img,  div.login-image-container img{
    height: 100%;
    margin: 0px auto;
    max-width: 1000px;
}

.register-form {
    max-width: 1000px;
    margin:0px auto;
}
.register-form .submit-container {
    margin: 0px auto;
    text-align: center;
}

.register-form .submit-container button {
    font-size: 22px;
    max-width: 250px;
    height: 60px;
    padding: 0px 70px;
    text-align: center;
}


/* login.html */

div.login-image-container img, .settings-image-container img {
    max-width: 600px;
}

.login-form, .settings-form {
    max-width: 800px;
    margin: 0px auto;
}

/* settings.html */


.settings-image-container img {
    margin: 0px auto 30px auto;
}


.shorten-result-container button.edit-url-submit {
    padding: 15px 0;
}


/* @media (min-width:768px) {

h5.result-url-text {
    position: absolute;
    top:50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}

}
 */

.shorten-urls-container {
    margin-bottom: 40px;
}

.shorten-item {
    margin: 0px auto;
    text-align: center;
    overflow: hidden;
}

@media (min-width: 1200px) {
.shorten-item {
    max-width: 70%;
}
}

